<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for persona in personas %}
    <h1>El nombre del familiar es: {{persona.name}} {{persona.lastname}}</h1>
    <h2>El DNI del familiar es:{{persona.documento}}</h2>
    <h2>La relacion con el familiar es: {{persona.parentesco}}</h2>
        
    {% endfor %}



</body>
</html>